body{
    background: url(img/Layer.png) no-repeat;
    -moz-background-size: 100%; /* Firefox 3.6+ */
    -webkit-background-size: 100%; /* Safari 3.1+ и Chrome 4.0+ */
    -o-background-size: 100%; /* Opera 9.6+ */
    background-size: 100%; /* Современные браузеры */
}

.main {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form{
    display:flex;
    flex-direction: column;
    margin: 70px 40px 0px 40px;
    color: white;
}

.fieldset{
    width: 430px;
    background-color:  rgba(17, 24, 28, 0.7);
    border: none;
}

.nav{
    color: white;
    margin-top: 44px;
}

.nav--sign-in,
.nav--sign-un{
    font-size: 22px;
    text-transform: uppercase;
    margin: 44px 0px 0px 44px;
}

.nav--sign-in:hover,
.nav--sign-un:hover{
    border-bottom: 3px solid #ff8000;
}

.form-tel,
.form-email,
.form-password{
    margin-top: 40px;
    background: none;
    color: white;
    border: 0px solid white;
    border-bottom: 1px solid white;
    padding-bottom: 4px;
    font-size: 17px;
    color: #ffffff;
}

.form-checkbox {
    margin-top: 49px;
}

.form-button {
    margin: 40px auto 40px;
    width: 196px;
    height: 39px;
    border-radius: 20px;
    background-color: #f57f17;
    border: none;
    font-size: 20px;
    color: #ffffff;
    font-family: "Proxima Nova";
}